[submodule "llamacpp"]
	path = backends/llamacpp
	url = https://github.com/ggml-org/llama.cpp.git
	shallow = true
[submodule "ninfer"]
	path = backends/ninfer
	url = https://github.com/iamwavecut/ninfer-all.git
	shallow = true
